<html><head></head><body>/* code language 居中 */
#article-container figure.highlight .highlight-tools .code-lang {
  left: 50% !important;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 0.7rem;
}

/* 文章列表高度对齐 */
#recent-posts &gt; .recent-post-item {
  margin-top: 0 !important;
  margin-bottom: 20px;
}

/* 页面高度对齐 */
#page, #archive {
  margin-top: 0 !important;
}
</body></html>